.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* changed align-content to align-items */
  margin: 10px;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center; /* added this line to center the child elements within the wrapper */
  text-align: center;
  height: 30vh;
  width: 40vw;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #EAF6FF;
  padding: 20px; /* added this line to add some padding around the wrapper */
}

.header{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  font-size: 1.5em; /* added this line to increase the font size of the header */
  font-weight: 400; /* added this line to make the header text bold */
  padding-bottom: 10px; /* added this line to add some space between the header and the form */
}

.form-form{
  display: flex;
  justify-content: center;
  align-items: center; /* changed align-content to align-items */
  margin-top: 20px;
}

.form-input{
  width: 15vw;
  height: 25px;
  border-radius: 15px;
  padding: 5px; /* added this line to add some padding inside the input field */
  margin-right: 10px; /* added this line to add some space between the input and the button */
}

.form-btn{
  border-radius: 15px;
  background-color: #232528;
  color: #EAF6FF;
  padding: 10px 20px; /* added this line to add some padding around the button */
  font-weight: bold; /* added this line to make the button text bold */
  cursor: pointer; /* added this line to change the cursor to pointer when hovering over the button */
}

/* NavBar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #2a2a72;
}

.brand{
  color: #EAF6FF;
}

.menu{
  color: #EAF6FF;
  margin-right: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

Link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

Link:hover {
  color: #ccc;
}

.ecard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ewrapper{
  display: flex;
  flex-direction: column;
  align-items: center; /* added this line to center the child elements within the wrapper */
  text-align: center;
  height: 33vh;
  width: 28vw;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #EAF6FF;
  padding: 20px;
}

.eheader{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  font-size: 1.5em; /* added this line to increase the font size of the header */
  font-weight: bold; /* added this line to make the header text bold */
  padding-bottom: 5px;
}

.enum{
  font-size: 60px;
  font-weight: 700;
  padding: 5px; /* added this line to add some padding inside the input field */
  margin-top: 16px; 
}

